# This file contains common pin mappings for the BIGTREETECH EBBCan
# Canbus board. To use this config, the firmware should be compiled for the
# STM32G0B1 with "8 MHz crystal" and "USB (on PA11/PA12)" or "CAN bus (on PB0/PB1)".
# The "EBB Can" micro-controller will be used to control the components on the nozzle.

# See docs/Config_Reference.md for a description of parameters.

# Connect your device to your Pi via USB
# Press and hold the RESET and BOOT buttons down
# Release RESET button
# Release BOOT button
##############    OR DOUBLE CLICK RESET BUTTON TO ENTER KATAPULT
# The device should now be in DFU mode. Verify this via the     lsusb   or the    sudo dfu-util -l     command, which should look something like this:
#                   Bus 001 Device 005: ID 0483:df11 STMicroelectronics STM Device in DFU Mode


#                               Katapult Configuration v0.0.1-64-g3e23332
#     Micro-controller Architecture (STMicroelectronics STM32)  --->
#     Processor model (STM32G0B1)  --->
#     Build Katapult deployment application (8KiB bootloader)  --->
#     Clock Reference (8 MHz crystal)  --->
#     Communication interface (CAN bus (on PB0/PB1))  --->
#     Application start offset (8KiB offset)  --->
# (1000000) CAN bus speed
# ()  GPIO pins to set on bootloader entry
# [*] Support bootloader entry on rapid double click of reset button
# [ ] Enable bootloader entry on button (or gpio) state
# [*] Enable Status LED
# (PA13)  Status LED GPIO Pin

#                                     Klipper Firmware Configuration
# [*] Enable extra low-level configuration options
#     Micro-controller Architecture (STMicroelectronics STM32)  --->
#     Processor model (STM32G0B1)  --->
#     Bootloader offset (8KiB bootloader)  --->
#     Clock Reference (8 MHz crystal)  --->
#     Communication interface (CAN bus (on PB0/PB1))  --->
# (1000000) CAN bus speed
# ()  GPIO pins to set at micro-controller startup

[mcu EBBCan]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_2E0020001450425539393020-if00     #E5Plus faulty - TMCC2209 does not work
# serial: /dev/serial/by-path/platform-fd500000.pcie-pci-0000:01:00.0-usb-0:1.3:1.0
# canbus_uuid: a732400db788                                                          #E5Plus faulty - TMCC2209 does not work
# canbus_uuid: a4d80585bfb5                                                          #E5Pro
# canbus_uuid: 04690d648b91                                                          #E5Plus new
# serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_320035000E50425539393020-if00    #E3MN

[adxl345]
cs_pin: EBBCan: PB12
spi_software_sclk_pin: EBBCan: PB10
spi_software_mosi_pin: EBBCan: PB11
spi_software_miso_pin: EBBCan: PB2
axes_map: x,y,z

[extruder]
step_pin: EBBCan: PD0
dir_pin: !EBBCan: PD1
enable_pin: !EBBCan: PD2
microsteps: 16
rotation_distance: 33.500
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: EBBCan: PB13
sensor_type: EPCOS 100K B57560G104F
sensor_pin: EBBCan: PA3
control: pid
pid_Kp: 21.527
pid_Ki: 1.063
pid_Kd: 108.982
min_temp: -250
max_temp: 250

# sensor_type:MAX31865
# sensor_pin: EBBCan: PA4
# spi_bus: spi1
# rtd_nominal_r: 100
# rtd_reference_r: 430
# rtd_num_of_wires: 2

[tmc2209 extruder]
uart_pin: EBBCan: PA15
run_current: 0.650
stealthchop_threshold: 999999

[fan]
pin: EBBCan: PA0

[heater_fan hotend_fan]
pin: EBBCan: PA1
heater: extruder
heater_temp: 50.0

#[neopixel hotend_rgb]
#pin: EBBCan:PD3

#[bltouch]
#sensor_pin: ^EBBCan:PB8
#control_pin: EBBCan:PB9

#[filament_switch_sensor switch_sensor]
#switch_pin: EBBCan:PB4

#[filament_motion_sensor motion_sensor]
#switch_pin: ^EBBCan:PB3