[include mainsail.cfg]
#[include Auto Z Calibrate.cfg]
#[include Macros Filament.cfg]
#[include Macros Kiauh.cfg]
#[include Macros Klipper.cfg]
#[include Macros Purge & Mesh.cfg]
#[include Macros Start & End Print.cfg]
#[include ] 
#[include ]
#[include ]
####################################################################################################################################################################

[gcode_macro CLIENT_VARIABLE]
GCode:
variable_use_custom_pos     : True         ; use custom park coordinates for x,y [True/False]
variable_custom_park_x      : 50           ; custom x position; value must be within your defined min and max of X
variable_custom_park_y      : 175          ; custom y position; value must be within your defined min and max of Y
variable_custom_park_dz     : 15           ; custom dz value; the value in mm to lift the nozzle when move to park position
variable_retract            : 1.5          ; the value to retract while PAUSE
variable_cancel_retract     : 5            ; the value to retract while CANCEL_PRINT
variable_speed_retract      : 25           ; retract speed in mm/s
variable_unretract          : 1            ; the value to unretract while RESUME
variable_speed_unretract    : 25           ; unretract speed in mm/s
variable_speed_hop          : 15           ; z move speed in mm/s
variable_speed_move         : 100          ; move speed in mm/s
variable_park_at_cancel     : True         ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
variable_park_at_cancel_x   : None         ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
variable_park_at_cancel_y   : None         ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True

variable_load_length        : 90           # Total length (in mm) of filament to load
variable_load_min_temp      : 0            # Minimum extruder temp for loading
variable_load_priming_length: 20           # Length (in mm) of the extruder meltzone
variable_load_priming_speed : 200          # Filament priming speed (in mm/m)
variable_load_speed         : 1200         # Filament loading speed (in mm/m).

variable_print_min          : 0,0          # Minimum printable XY coordinate
variable_print_max          : 330,330      # Maximum printable XY coordinate
variable_start_bed_heat_delay: 1000        # Additional delay (in ms) during bed heating, to allow the bed to stabilize
variable_start_bed_heat_overshoot: 2.0     # Amount (in degrees C) to overshoot bed target temp before stabilizing

variable_start_purge_clearance   : 2.0     # Distance (in millimeters) between the purge lines and the print area
variable_start_purge_length      : 30      # Length of filament (in millimeters) to purge at print start
variable_start_purge_prime_length: 12.0    # Length of filament (in millimeters) to prime before drawing purge lines






## !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
#variable_use_fw_retract   : False ; use fw_retraction instead of the manual version [True/False]
#variable_idle_timeout     : 0     ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
#variable_runout_sensor    : ""    ; If a sensor is defined, it will be used to cancel the execution of RESUME in case no filament is detected.
##                                   Specify the config name of the runout sensor e.g "filament_switch_sensor runout". Hint use the same as in your printer.cfg
## !!! Custom macros, please use with care and review the section of the corresponding macro.
## These macros are for simple operations like setting a status LED. Please make sure your macro does not interfere with the basic macro functions.
## Only  single line commands are supported, please create a macro if you need more than one command.
#variable_user_pause_macro : ""    ; Everything inside the "" will be executed after the klipper base pause (PAUSE_BASE) function
#variable_user_resume_macro: ""    ; Everything inside the "" will be executed before the klipper base resume (RESUME_BASE) function
#variable_user_cancel_macro: ""    ; Everything inside the "" will be executed before the klipper base cancel (CANCEL_PRINT_BASE) function

######################################################################################################################################################################

#[virtual_sdcard]
#path: ~/printer_data/gcodes

# [virtual_sdcard]
# path = /home/mischif227/printer_data/gcodes
# on_error_gcode = CANCEL_PRINT

[mcu]
# serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_260033000F51323433323831-if00
# #serial: /dev/serial/by-id/usb-katapult_stm32h723xx_260033000F51323433323831-if00
# #serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_12345-if00
canbus_uuid: c707c8475092            # canbus_uuid: 7fd1db1ef90d

# [mcu ebb42]
#canbus_uuid: 6a64bfc8f828


[printer]
kinematics: cartesian
max_velocity: 500
max_accel: 10000
max_z_velocity: 16
max_z_accel: 3000
square_corner_velocity : 15

[stepper_x] #L to R for extruder
step_pin: PD4
dir_pin: PD3
enable_pin: !PD6
endstop_pin: ^!PC1
microsteps: 16
rotation_distance: 32
full_steps_per_rotation: 200
position_endstop: -7 
position_max: 330
position_min: -7
homing_speed: 30
second_homing_speed: 15
homing_positive_dir: false
homing_retract_dist: 10

[tmc2209 stepper_x]
uart_pin: PD5
interpolate: 1
sense_resistor: 0.075
driver_sgthrs: 100
run_current: 1.4
hold_current: 0.7
stealthchop_threshold: 0

[stepper_y] #forwards & backwards for bed
step_pin: PA15
dir_pin: PA8
enable_pin: !PD1
endstop_pin: ^!PC3
microsteps: 16
rotation_distance: 32
full_steps_per_rotation: 200
position_endstop: -2
position_max: 340.5
position_min: -2
homing_speed: 30
second_homing_speed: 15
homing_positive_dir: false
homing_retract_dist: 10

[tmc2209 stepper_y]
uart_pin: PD0
interpolate: 1                           
run_current: 1.8
hold_current: 1.0
sense_resistor: 0.075
driver_sgthrs: 105
stealthchop_threshold: 0

[stepper_z] #up & down
step_pin: PE2
dir_pin: PE3
enable_pin: !PE0
endstop_pin: ^PC15
microsteps: 16
rotation_distance: 8
full_steps_per_rotation: 200
position_endstop: -1
position_max: 400
position_min: -2
homing_speed: 8
homing_positive_dir: false
second_homing_speed: 5
homing_retract_dist: 8

[tmc2209 stepper_z]
uart_pin: PE1
interpolate: 1                  # ************ true or false
run_current: 1.8                 # ************** my run current range from 0.650 to 0.8, i think 1.8 is way too high but maybe for that printer
hold_current: 1.0                 # ************* not recomended
sense_resistor: 0.075              # ************ for sensorless homing
driver_sgthrs: 100                # *#*************** for sensorless homing?
stealthchop_threshold: 99999

#For Independent Z

#[stepper_z1] #up & down
#step_pin: PD11
#dir_pin: PD10
#enable_pin: !PD13
#endstop_pin: ^PC15
#microsteps: 16
#rotation_distance: 8
#full_steps_per_rotation: 200
#position_endstop: -1
#position_max: 400
#position_min: -2
#homing_speed: 8
#homing_positive_dir: false
#second_homing_speed: 5
#homing_retract_dist: 10


#[tmc2209 stepper_z1]  If Using Independent Z Enable this option
#uart_pin: PD12
#interpolate: 1
#run_current: 1.8
#hold_current: 1.0
#sense_resistor: 0.075
#driver_sgthrs: 100
#stealthchop_threshold: 99999

[tmc2209 extruder]
uart_pin: PC6   #ebb42: PA15    #PC6
interpolate: 1
run_current: 0.8
hold_current: 0.4
sense_resistor: 0.075
driver_sgthrs: 10
stealthchop_threshold: 99999


[extruder]
step_pin: PD15   #ebb42: PD0        #PD15
dir_pin:  PD14   #!ebb42: PD1      #PD14
enable_pin: !PC7   #!ebb42: PD2    #!PC7
heater_pin: PB3   #ebb42: PB13   #PB3
sensor_pin: PA2   #ebb42: PA3    #PA2
microsteps: 16
rotation_distance: 7.50
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.750
sensor_type: Generic 3950
pullup_resistor: 4700
min_extrude_temp: 185
control: pid
pid_kp: 24.711
pid_ki: 1.396
pid_kd: 109.349
min_temp: -250
max_temp: 280
max_extrude_cross_section: 50
max_extrude_only_distance: 500
#pressure_advance: 0.020000

[filament_switch_sensor runout]
pause_on_runout: True
switch_pin: PC2

[gcode_arcs]

[pause_resume]
recover_velocity: 50.0

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

# [temperature_sensor lis2dw]
# sensor_type: temperature_host
# sensor_mcu: lis2dw
# min_temp: 10
# max_temp: 100

[temperature_sensor SKR3]
sensor_type: temperature_mcu
sensor_mcu: mcu 
min_temp: 0
max_temp: 100

# [temperature_sensor EBB42]
# sensor_type: temperature_mcu
# sensor_mcu: ebb42 
# min_temp: 0
# max_temp: 100

# [temperature_sensor lis2dw]
# sensor_type: temperature_mcu
# sensor_mcu: lis2dw 
# min_temp: 0
# max_temp: 100

[heater_bed]
heater_pin: PD7
sensor_pin: PA3
sensor_type: ATC Semitec 104GT-2
control: pid
pid_kp: 70.637
pid_ki: 0.902
pid_kd: 1382.718
min_temp: -250
max_temp: 105

[verify_heater extruder]
max_error: 120
check_gain_time: 20
hysteresis: 5
heating_gain: 1

[verify_heater heater_bed]
max_error: 120
check_gain_time: 60
hysteresis: 5
heating_gain: 1

[fan]
pin: PB7   #ebb42: PA0   #PB7

[heater_fan hotend_cooling_fan]
pin: PB6   #ebb42: PA1   #PB6
heater_temp: 50
fan_speed: 1

[controller_fan board_cooling_fan]
pin: PB5
stepper: stepper_x,stepper_y,stepper_z,extruder     
fan_speed: 1
idle_speed: 0
idle_timeout: 30
heater: extruder,heater_bed

####################### ADD ON #######################


## [mcu ebb42 ADXL on Extruder]

# [adxl345]           #Accel Sensor on EBB42 for Hot_End X_axis
# cs_pin: ebb42: PB12
# spi_software_sclk_pin: ebb42: PB10
# spi_software_mosi_pin: ebb42: PB11
# spi_software_miso_pin: ebb42: PB2
# axes_map: x,y,z

# [resonance_tester]
# probe_points : 165,165,50
# accel_chip: ebb42: adxl345
# min_freq : 1.000000
# max_freq : 140.000000
# accel_per_hz : 150.00
# hz_per_sec : 1.000000
# max_smoothing : 1.0

# [include lis2dw.cfg]  #Accel sensor for Hot_Bed Y_axis

[input_shaper]
shaper_freq_x: 60.20      #84.4
shaper_freq_y: 49.20      #51.0
shaper_type_y: 2hump_ei   #mzv
shaper_type_x: mzv        #ei


#[bed_mesh]
#speed: 80
#horizontal_move_z: 5.0
#mesh_min: 0,10
#mesh_max: 305,310
#probe_count: 6,6
#mesh_pps: 5,5
#algorithm: lagrange

[bed_mesh]
speed: 80
horizontal_move_z: 5.0
mesh_min: 0,10
mesh_max: 305,310
probe_count: 8,8
mesh_pps: 6,6
algorithm: bicubic
bicubic_tension: 2.0

[safe_z_home]
home_xy_position: 62.5,340.5  
speed: 150
z_hop: 15.0
z_hop_speed: 8.0
#move_to_previous: False

#[auto_leveling]
#bed_mesh_temp = 60.0
#extruder_temp = 210.0
#extruder_wipe_z = -2.3
#move_speed = 30.0
#extrude_x = 66
#extrude_y = 0
#extrude_z = 15
#extrude_length = 80.0
#extrude_speed = 3.0
#extruder_pullback_length = 25.0
#extruder_pullback_speed = 30.0
#extruder_cool_down_temp = 140.0
#lifting_after_completion = 15.0
#target_spot_x = 61.200000
#target_spot_y = 243.800000

[probe]
pin: PC13   #ebb42: PB9  #PC13
deactivate_on_each_sample: True
x_offset: 0.0
y_offset: 0.0
#z_offset: 0.5
speed: 4.0
lift_speed: 8.0
samples: 2
sample_retract_dist: 2.0
samples_result: average
samples_tolerance: 0.1
samples_tolerance_retries: 2

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh 2 Front Spring Good]
#*# version = 1
#*# points =
#*# 	-0.188750, -0.277500, -0.366250, -0.348750, -0.241250, -0.397500
#*# 	-0.151250, -0.285000, -0.372500, -0.412500, -0.301250, -0.493750
#*# 	-0.043750, -0.191250, -0.357500, -0.421250, -0.365000, -0.521250
#*# 	-0.027500, -0.176250, -0.313750, -0.397500, -0.270000, -0.393750
#*# 	-0.063750, -0.218750, -0.306250, -0.292500, -0.158750, -0.156250
#*# 	-0.235000, -0.336250, -0.327500, -0.277500, -0.065000, -0.078750
#*# min_x = 0.0
#*# max_x = 305.0
#*# min_y = 10.0
#*# max_y = 310.0
#*# x_count = 6
#*# y_count = 6
#*# mesh_x_pps = 5
#*# mesh_y_pps = 5
#*# algo = lagrange
#*# tension = 0.2
#*#
#*# [bed_mesh Bicubic 2Spring Good]
#*# version = 1
#*# points =
#*# 	-0.176250, -0.222500, -0.382500, -0.360000, -0.337500, -0.321250, -0.140000, -0.386250
#*# 	-0.156250, -0.217500, -0.393750, -0.371250, -0.391250, -0.380000, -0.190000, -0.482500
#*# 	-0.125000, -0.187500, -0.366250, -0.378750, -0.381250, -0.386250, -0.230000, -0.458750
#*# 	-0.047500, -0.126250, -0.323750, -0.341250, -0.406250, -0.401250, -0.231250, -0.487500
#*# 	-0.011250, -0.088750, -0.295000, -0.348750, -0.386250, -0.396250, -0.248750, -0.437500
#*# 	-0.035000, -0.135000, -0.307500, -0.297500, -0.315000, -0.291250, -0.092500, -0.255000
#*# 	-0.083750, -0.167500, -0.332500, -0.302500, -0.267500, -0.231250, -0.017500, -0.093750
#*# 	-0.225000, -0.300000, -0.406250, -0.322500, -0.270000, -0.191250, 0.065000, -0.073750
#*# min_x = 0.0
#*# max_x = 304.99
#*# min_y = 10.0
#*# max_y = 309.95000000000005
#*# x_count = 8
#*# y_count = 8
#*# mesh_x_pps = 6
#*# mesh_y_pps = 6
#*# algo = bicubic
#*# tension = 2.0
#*#
#*# [stepper_z]
#*# position_endstop = -0.500
#*#
#*# [probe]
#*# z_offset = 1.680
